{% extends 'layout.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}

<section style="margin-top:100px;" class="job_details_area">
    <div class="container">
        <div class="row">
            <h1 style="padding:10px;">add new Job</h1>
            <form  method="POST">
                {% csrf_token %} {% bootstrap_form form %}
                <input class="btn btn-primary" type="submit" value="submit" />
            </form>
        </div>
    </div>
</section>

{% endblock %}